* {
  box-sizing: border-box; }

body {
  background-color: #FDF5DA;
  margin: 0; }

button:hover {
  cursor: pointer; }

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%; }

.playButton-container {
  clip-path: circle(50%);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 400px; }

.playButton {
  border-style: none;
  height: 200px;
  width: 200px; }

.one {
  background-color: #159BCA; }
  .one:hover {
    background-color: #40bfeb; }

.two {
  background-color: #CD4230; }
  .two:hover {
    background-color: #dd7a6d; }

.three {
  background-color: #298E44; }
  .three:hover {
    background-color: #48ca6b; }

.four {
  background-color: #E1AD23; }
  .four:hover {
    background-color: #eac666; }

.controls {
  align-items: center;
  background-color: #F5F6F6;
  border: 1px #C5C8C8 solid;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  width: 400px; }

.count {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8px; }
  .count__number {
    font-size: 1.7em; }

.start,
.strict {
  background-color: #F5F6F6;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px 10px; }

.start {
  border-color: #FE9F8A; }

.strict {
  border-color: #FCD647; }
