* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 600px;
}

.action-btn {
  border-radius: 50%;
  border-style: none;
  height: 100px;
  width: 100px;
}

.one {
  background-color: green;
}

.two {
  background-color: red;
}

.three {
  background-color: blue;
}

.four {
  background-color: yellow;
}

.controls {
  background-color: gray;
}
