$blue: #159BCA;
$red: #CD4230;
$green: #298E44;
$yellow: #E1AD23;
$control-panel: #F5F6F6;

* {
  box-sizing: border-box;
}

body {
  background-color: #FDF5DA;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.playButton-container {
  clip-path: circle(50%);
  display: flex;
  flex-wrap: wrap;
  margin: {
    bottom: 30px;
    top: 30px;
  }
  width: 400px;
}

.playButton {
  border-style: none;
  height: 200px;
  width: 200px;
}

.one {
  background-color: $blue;

  &:hover {
    background-color: lighten($blue, 15%);
  }
}

.two {
  background-color: $red;

  &:hover {
    background-color: lighten($red, 15%);
  }
}

.three {
  background-color: $green;

  &:hover {
    background-color: lighten($green, 18%);
  }
}

.four {
  background-color: $yellow;

  &:hover {
    background-color: lighten($yellow, 15%);
  }
}

.controls {
  align-items: center;
  background-color: $control-panel;
  border: 1px #C5C8C8 solid;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  width: 400px;
}

.count {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8px;

  &__number {
    font: {
      size: 1.7em;
    }
  }
}

.start,
.strict {
  background-color: $control-panel;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px 10px;
}

.start {
  border-color: #FE9F8A;
}

.strict {
  border-color: #FCD647;
}
